* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(255, 179, 79, 0.637);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.box h1 {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  margin: 5px;
  width: 100%;
  max-width: 700px;
}

.box2 {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 7px;
}

.todo-item input {
  padding: 3px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.todo-item input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1);
}

button {
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: background 0.3s ease;
}

#editButton {
  background-color: rgba(62, 62, 249, 0.804);
}

#editButton:hover {
  background-color: rgba(4, 4, 252, 0.804);
}

#deleteButton {
  background-color: rgba(255, 47, 47, 0.832);
}

#deleteButton:hover {
  background-color: rgba(253, 12, 12, 0.832);
}

#addButton {
  background-color: rgba(15, 190, 15, 0.766);
}

#addButton:hover {
  background-color: rgba(15, 190, 15, 0.927);
}

#editField {
  width: 100px;
}

.high-priority {
  color: red;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: green;
}

select {
  padding: 3px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

select option {
  padding: 3px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.todo-item input[type="checkbox"]:checked + p {
  text-decoration: line-through 2px solid;
  color: gray;
}

/*Media Queries */

@media (max-width: 600px) {
  .box {
    width: 95%;
    margin-right: 50px;
  }

  .box2 {
    width: 95%;
  }

  #inputField {
    width: 45%;
  }
}
